body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#name {
  margin-bottom: -12px;
}

#headshot {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#title {
  color: rgb(207, 116, 51);
  margin-bottom: -5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

#about {
  margin: auto;
  width: 70%;
  text-align: left;
}

.bio-header {
  margin-bottom: -12.5px;
}

#button-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  height: 70px;
  margin: auto;
  width: 55%
    /*max-width: 80px;*/
    /* Turn on to see the wrap */
}